body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
